Package: com.kef.mappa
Name: Mappa
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 1.0.4
Architecture: iphoneos-arm
Description: A tweak that allows you to customize the number of rows and icons in your folders!
Maintainer: Kef
Author: Kef
Section: Tweaks
